<div class="container">
  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>

  <div class="card-post">
    <img src="https://picsum.photos/200/151" alt="#" />
    <div class="content-card">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
        similique voluptas numquam inventore sed ea rerum voluptates?.
      </h5>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo
        nobis laudantium.
      </p>

      <p>00/00/0000</p>

      <button>Ler notícia</button>
    </div>
  </div>
</div>
