<div class="container">
  <h3>Lorem ispum dolor</h3>

  <div class="card">
    <span class="card-span">label</span>

    <span>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit minus
      consequuntur animi officiis mollitia libero dolor necessitatibus quae
      minima.
    </span>
  </div>

  <div class="card">
    <span class="card-span">label</span>

    <span>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit minus
      consequuntur animi officiis mollitia libero dolor necessitatibus quae
      minima.
    </span>
  </div>

  <div class="card">
    <span class="card-span">label</span>

    <span>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit minus
      consequuntur animi officiis mollitia libero dolor necessitatibus quae
      minima.
    </span>
  </div>
</div>
