<div class="container">
  <h3>Notícias mais recentes</h3>

  <div class="cards-container">
    <div class="card">
      <span class="label">label</span>
      <span class="card-content"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        iusto, natus error incidunt praesentium a distinctio quo.</span
      >
    </div>

    <div class="card">
      <span class="label">label</span>
      <span class="card-content"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        iusto, natus error incidunt praesentium a distinctio quo.</span
      >
    </div>

    <div class="card">
      <span class="label">label</span>
      <span class="card-content"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        iusto, natus error incidunt praesentium a distinctio quo.</span
      >
    </div>

    <div class="card">
      <span class="label">label</span>
      <span class="card-content"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        iusto, natus error incidunt praesentium a distinctio quo.</span
      >
    </div>

    <div class="card">
      <span class="label">label</span>
      <span class="card-content"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        iusto, natus error incidunt praesentium a distinctio quo.</span
      >
    </div>

    <div class="card">
      <span class="label">label</span>
      <span class="card-content"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        iusto, natus error incidunt praesentium a distinctio quo.</span
      >
    </div>
  </div>
</div>
