@import "../../../../assets/styles/styles.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: $purple-light;

    margin-bottom: 15px;
  }

  p {
    text-align: center;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    color: $white-200;
  }
}
