<div class="home__container">
  <app-header></app-header>
  <div class="home__content">
    <h1 class="home__title">
      Mundo nerd? <br />
      Naped!
    </h1>
    <p class="home__description">
      O Naped pode ser sua fonte de informações sobre <br />
      o mundo nerd e outros assuntos relacionados.
    </p>
  </div>

  <app-recommended-posts></app-recommended-posts>

  <div class="container">
    <div class="all-posts-container">
      <app-all-posts></app-all-posts>
    </div>
    <div class="popular-posts-container">
      <app-popular-posts></app-popular-posts>
    </div>
  </div>

  <app-latest-posts></app-latest-posts>
</div>
