@import "./../../../assets/styles/styles.scss";

.home__container {
  padding: 1.8rem;
}

.home__content {
  margin: 70px 0;
}

.home__title {
  color: $white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 10px;
}

.home__description {
  color: $white-200;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.container {
  display: flex;
  width: 100%;
  margin-bottom: 40px;

  .all-posts-container {
    width: 70%;
  }

  .popular-posts-container {
    width: 30%;
  }
}
