<div class="recommended-posts-container">
  <div class="card--with-label">
    <div class="label-on-card">label</div>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quas,
      sequi culpa cumque maxime voluptate consectetur eum recusandae cupiditate
      esse nesciunt vero, eaque soluta doloremque voluptates itaque officiis
      magnam est.</span
    >
  </div>

  <div class="aside-cards">
    <div class="teste-class">
      <div class="label-on-card">label</div>
      <span> Lorem ipsum, dolor sit amet consectetur adipisicing elit! </span>
    </div>

    <div class="teste-class">
      <div class="label-on-card">label</div>
      <span> Lorem ipsum, dolor sit amet consectetur adipisicing elit! </span>
    </div>
  </div>
</div>
